.order-summary {
    width: 100%;
    max-width: 450px;
  }
  
  .order-summary h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .order-summary-item {
    display: flex;
    justify-content: space-between;
  
    padding: 10px 0;
  
    border-bottom: 1px solid #ddd;
  }